@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
  }

  body {
    font-family: "Lora", serif;
  }


.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #f5f5f5; /* Background color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2A3D41; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Optional: roundness of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e0e0e0; /* Color of the scrollbar track */
  margin: 5px; /* Padding around the scrollbar track */
}
